# Xamarin.Android
# Build a Xamarin.Android project.
# Add steps that test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xamarin

trigger:
- master

# pool:
#   vmImage: 'macOS-10.14'

variables:
  buildConfiguration: 'Release'
  outputDirectory: '$(build.binariesDirectory)/$(buildConfiguration)'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '**/*.sln'

- task: DownloadSecureFile@1
  name: T4File
  inputs:
    secureFile: 'Titan.t4'

- task: DownloadSecureFile@1
  name: GoogleFile
  inputs:
    secureFile: 'google-services.json'

- task: Bash@3
  inputs:
    filePath: 'Bootleg.Android/appcenter-pre-build.sh'

- task: XamarinAndroid@1
  inputs:
    projectFile: '**/*.csproj'
    outputDirectory: '$(outputDirectory)'
    configuration: '$(buildConfiguration)'

- task: AndroidSigning@3
  inputs:
    apkFiles: '**/*.apk'
    zipalign: true
    jarsign: true
    apksignerKeystoreFile: 'ourstory.keystore'
    apksignerKeystorePassword: '$(KeystorePassword)'
    apksignerKeystoreAlias: 'ourstory'
    apksignerKeyPassword: '$(KeystorePassword)'
