trigger:
  tags:
    include:
    - '*'

variables:
  buildConfiguration: 'Release'
  outputDirectory: '$(build.binariesDirectory)/$(buildConfiguration)'

jobs:
- job: Titan
  pool:
    vmImage: 'macOS-latest'
  steps:
  - template: build-pipeline.yml
    parameters:
      flavour: 'Titan'

- job: Online
  pool:
    vmImage: 'macOS-latest'
  steps:
  - template: build-pipeline.yml
    parameters:
      flavour: 'OurStory'

- job: Release
  pool:
    vmImage: 'macOS-latest'
  dependsOn:
    - Titan
    - Online
  steps:
    - download: current
    - task: CopyFiles@2
      inputs:
        sourceFolder: $(Agent.BuildDirectory)
        contents: '**/*.apk'
        targetFolder: $(Build.SourcesDirectory)
    - task: AndroidSigning@3
      inputs:
        apkFiles: '**/*.apk'
        zipalign: true
        jarsign: true
        apksignerKeystoreFile: 'ourstory.keystore'
        apksignerKeystorePassword: '$(KeystorePassword)'
        apksignerKeystoreAlias: 'ourstory'
        apksignerKeyPassword: '$(KeystorePassword)'
    - task: GitHubRelease@0
      inputs:
        gitHubConnection: 'tombartindale'
        repositoryName: 'our-story-media/ourstory-android'
        action: 'create'
        title: 'Indaba Android App'
        addChangeLog: false
        assets: '**/*.apk'