trigger:
  - master
pool:
  vmImage: 'macOS-latest'
jobs:
- job: 'Titan'
  template: build-pipeline.yml
  parameters:
    flavour: 'Titan'
- job: 'OurStory'
  template: build-pipeline.yml
  parameters:
    flavour: 'OurStory'